<h1 class="blog_header">Jonathan's Blog</h1>

<% @posts.each do |post|%>

  <div class="post-entry">

    <h2><%=link_to post.title%></h2>
    <p><%=post.created_at.strftime("%B %d, %Y")%></p>


    <div class="post-body">
      <%if post==@posts.first%>
        <%post.body.html_safe%>
        <br>

        <br>

      <%end%>
    </div>


  </div>

<%end%>
