<h2>All Users</h2>

<% @users.each do |user| %>
    <ul>
        <li>
            <p><%= user.username %></p>
            <div class="avatar_thumb"><%= image_tag(user.avatar.url(:thumb)) %></div>
            <a href="/users/<%= user.id %>"><button>show User</button></a>
       </li>        
    </ul>    
<% end %>

