<div class="large-space"></div>

<h1 class="page-header">Admin Panel</h1>

<h3>Personal data</h3>
Profile Picture
About me text
Quotes

<h3>Pictures</h3>
<%= link_to "Manage Pictures", pictures_path %>

<h3>Blog</h3>
<%= link_to "Open Blog", blogs_path %>
<%= link_to "Manage posts", posts_path %>
<%= link_to "Create new post", new_post_path %>

<h3>Events</h3>

<h3>Users</h3>

<h3>Analytics</h3>

Link to Google Analytics
etc.



