<head>

</head>


<div class="container">
  <div class="row-fluid">
    <div class="span7 welcome">
          <div class="title">
                    <h2>Jonathan Glass Studios</h2>
          </div>
            <div class="quote">
                <p class="pull-right">quote goes here from somebody JG knows</p>
<br /><br />
                <div class="quote_source">
                  <p class="pull-right">Name of quote source</p>
                </div>
              </div>

              <div class="quote">
                  <p class="pull-right">quote goes here from somebody JG knows</p>
<br /><br />

                <div class="quote_source">
                  <p class="pull-right">Name of quote source</p>
                </div>
              </div>

              <div class="quote">
                  <p class="pull-right">quote goes here from somebody JG knows</p>
<br /><br />

                <div class="quote_source">
                  <p class="pull-right">Name of quote source</p>
                </div>
              </div>

    </div>


          <div class="span5 welcome_img">
                <img src="<%= asset_path("NWP7719.JPG") %>">

          </div>
  </div>
</div>


