<div class="large-space"></div>

<h1 class="page-header">Picture details</h1>

<%= image_tag @picture.image.url %>
<%= image_tag @picture.image.url(:medium) %>
<%= image_tag @picture.image.url(:thumb) %>