<div class="large-space"></div>

<h1 class="post-header">Edit post</h1>

<%= render 'form' %>

<hr>

<div class="post-buttons">
  <%= link_to 'Back', '#', class: 'back_link post-button' %>
  <%= link_to 'Show', @post, class: 'post-button' %>
  <%= link_to 'All posts', posts_path, class: 'post-button' %>
</div>
