<div class="large-space"></div>

<h1 class="post-header">Editing post</h1>

<%= render 'form' %>

<hr>
<div class="post-buttons">
  <%= link_to 'Show', @post, class: 'post-button' %>
  <%= link_to 'Back', posts_path, class: 'post-button' %>
</div>
