<div class="large-space"></div>

<h1 class="post-header">New post</h1>

<%= render 'form' %>

<hr>

<div class="my-buttons">
  <%= link_to 'Back', '#', class: 'back_link my-button' %>
  <%= link_to 'All posts', posts_path, class: 'my-button' %>
</div>
