<div class="large-space"></div>

<h1 class="page-header">New Gallery</h1>

<div class="container">
    <%= render 'form' %>
</div>

<hr>
<div class="my-buttons">
  <%= link_to 'Back', '#', class: 'back_link my-button' %>
</div>
