// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.blog_header {
  color: white;
  background: black;
  padding: 20px;
  text-align: center;
}

.post-entry{
  /*border-bottom:solid 30px #CCC;
  padding: 30px;*/

  h2{
    a{
      color: #fffff;
      text-decoration:none;
    }
  }

}

/*.post-body {
  background-color: yellow;
  color: red;

}*/



.back_button {
  margin-bottom: 80px;
}

/***************************************************************************/
/* Pagination Styling taken from http://mislav.uniqpath.com/will_paginate/ */
 /* .kaminari_pagination {
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 1em;
    cursor: default;
  }

  .kaminari_pagination a, .kaminari_pagination span {
    padding: 0.2em 0.3em;
  }

  .kaminari_pagination .disabled {
    color: #aaaaaa;
  }

  .kaminari_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
  }

  .kaminari_pagination a {
    text-decoration: none;
    color: black;
  }

  .kaminari_pagination a:hover, .kaminari_pagination a:focus {
      text-decoration: underline;
  }*/

/*                          End of Pagination Styling                       */
/****************************************************************************/
