// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-header {
  color: white;
  background: black;
  padding: 20px;
  text-align: center;
}

.pagination_div {
  text-align: center;
  margin: 50px auto 0;
}

