/*.title {
  padding-top: 3em;
}*/

.header-img {

}

.header-img img{
  opacity: .6;
}

.login-area {
  height: 30px;
  /*background-color: blue;*/
}

.message-area {
  font-family: 'Gloria Hallelujah', cursive;
  color: #a19b96;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid lightgrey;
  /*background-color: yellow;*/
}

/*.user-menu {
  padding: 10px;
  font-size: 16px;
}*/

#quotes {
  padding-top: 70px;
}

.quote {
  padding-top: 2em;
  padding-bottom: 2em;
}

.quote_source {
  font-size: 12px;
}

#about-artist {
  background-color: #a9b0b4;
  /*color: white;*/
  /*#a19b96;*/
}

.gallery-img {
  position: relative;
}

.gallery-img h3 {
   color: white;
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   text-align: left;
   padding-left: 5px;
}
.contact-field {
  width: 400px;
}

#video {
  /*padding: 50px 0;*/
}

.information {
  margin: 0 auto;
  padding: 50px;
  /*background-color:red;*/
}

#intro-block {
  background-color: orange;
}

#home-block {
  padding-top: 200px;
}

#about-block {
  background-color: #dedede;
}

#galleries-block {
  /*padding-top: 200px;*/
}

/*#jazz-block {

}*/

#buy-block {
  background-color: #d1c098;
}

/*#events-block {

}*/

#blog-block {
  /*background-color: violet;*/
}

#contact-block {
  background-color: #a9b0b4;
}

#studio-block {
  background-color: #a19b96;
}
