.title {
  padding-top: 3em;
}

.quote {
  padding-top: 2em;
  padding-bottom: 2em;
}

.quote_source {
  font-size: 12px;
}

.information {
  margin: 0;
  padding: 50px;
}

#video, #facts {
  padding: 50px 0;
}

.portfolio_image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  padding: 20px;
}

figcaption {
  padding-top: 10px;
  text-align: center;
}

#home-block {

}

#galleries-block {
  /*background-color: oldlace;*/
}

/*#jazz-block {

}*/

/*#buy-block {

}*/

#about-block {
  /*background-color: orange;*/
}

/*#events-block {

}*/

#blog-block {
  background-color: violet;
}

#contact-block {
  background-color: oldlace;
}

#studio-block {
  background-color: pink;
}
