// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.image_pic {
  float: left;
  margin: 20px;
  padding: 20px;
  border: 1px solid grey;

}

.image_desc {
  margin-top: 10px;
  text-align: center;
  border: 1px solid lightgrey;
}

.image_desc p {
  /*border: 1px solid lightgrey;*/
}

