// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image_pic {
  width: 300px;
  height: 350px;
  padding: 20px;
  margin: 10px 20px 10px 0;
  /*border: 1px solid lightgrey;*/
}

.image_pic_img {
  height: 200px;
  padding: 10px;
  text-align: center;
  /*box-shadow: 3px 3px 5px lightgrey;*/
}

.image_pic_img img {
  max-height: 200px;
  /*box-shadow: 5px 5px 10px lightgrey;*/
}

.image_desc {
  margin-top: 10px;
  text-align: center;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.image_desc p {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
}

.image_links {
  padding-top: 10px;
  text-align: center;
}

.image_links a {
  padding: 5px;
  text-decoration: none;
}

.picture_display {
  margin-top: 30px;
}

.picture_display_image {
  text-align: center;
  margin-bottom: 50px;
}

.picture_display_text {
  margin-bottom: 50px;
}

.picture_display_text div {
  margin-bottom: 20px;
}

.picture_display_title {
  font-weight: bold;
}

.actions {
  padding-top: 10px;
  text-align: center;
}

.picture_browsing {
  text-align: center;
}

.picture_browsing span{
  padding: 0 10px;
}

.carousel_display {
  height: 400px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.carousel_display_img {
  text-align: center;
}

.carousel_display_img img {
  margin: 20px;
  max-height: 360px;
}