// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image_pic {
  max-width: 300px;
  margin: 10px 20px 10px 0;
  padding: 20px;
  border: 1px solid lightgrey;
}

.image_pic img {
  width: 100%;
  /*box-shadow: 3px 3px 5px lightgrey;*/
}

.image_desc {
  margin-top: 10px;
  text-align: center;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.image_desc p {

}

.image_links {
  padding-top: 10px;
  text-align: center;
}

.image_links a {
  padding: 5px;
  text-decoration: none;
}