
body {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  position: relative;
}

h3 {
  color: black;
}

h4 {
  font-size: 22px;
  font-weight: bold;
}

p {
  margin: 0;
  padding: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.image-banner{
  height: 30em;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#intro-block {
/*  width: 100%;
  background: image-url("landing.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

#intro-block p {
  width: 400px;
  height: 450px;
  margin-top: 70px;
  padding: 50px;
  background-color: rgba(0,0,0,0.1);
  color: white;
  font-size: 24px;
  font-style: italic;
}

.information {
  margin: 0;
  padding: 50px 10px 50px 50px;
  background-color: lightgray;
  /*color: white;*/
}

.information p {
  padding-top: 20px;
  margin-right: 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

#galleries {
  width: 500px;
  font-size: 20px;
}

#buy {
  width: 100%;
  font-size: 20px;
  margin: 0;
  padding: 50px 10px 50px 50px;
  background-color: lightgray;
}

#video, #about {
  padding: 50px 0;
}

#facts {
  width: 500px;
  font-size: 20px;
}

.jazz_image {
  width: 400px;
  padding: 20px;
}

.portfolio_image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  padding: 20px;
}

figcaption {
  padding-top: 10px;
  text-align: center;
}

#blog {
  width: 100%;
  font-size: 20px;
}

#contact {
  width: 100%;
  font-size: 20px;
}

#studio {
  width: 100%;
  font-size: 20px;
}

.clear {
  clear: both;
}

#footer {
  height: 100px;
  background-color: black;
  color: white;
}

#footer p {
  padding: 60px 20px 20px 50px;
  font-family: 'Quicksand', sans-serif;
}
