.avatar_thumb { 
  width: 100px;
  margin: 10px;
  border: 1px solid black; 
}

.avatar_medium { 
  width: 300px;
  margin: 10px;
  border: 1px solid black;
}

ul {
  list-style-type: none;
}

ul li {
  /*border: 1px solid black;*/
  /*margin: 20px 0;*/
}

p {
  margin: 10px;
  font-size: 20px;
}

button {
  margin: 10px;
}

.left {
  float: left;
}

.clear {
  clear: both;
}
