.user-field {
  width: 60%;
}

.readonly, .protected {
  background-color: #f3f3f3;
  border: none;
}

#password_section {
  display: none;
}

#change_password_button {
  margin: 10px 0;
}

.avatar_thumb {
  width: 100px;
  margin: 10px;
  border: 1px solid black;
}

.avatar_medium {
  width: 300px;
  margin: 10px;
  border: 1px solid black;
}

ul {
  list-style-type: none;
}

ul li {
  /*border: 1px solid black;*/
  /*margin: 20px 0;*/
}

button {
  margin: 10px;
}

